<font color = green >

# Text Mining

</font>

<font color = green >

## str methods  

</font>

In [103]:
text = 'A computer program is said to learn from experience E \nwith respect to some class of tasks T'\
' and performance measure P\nif its performance at tasks in T, as measured by P, \nimproves with experience E. \n\t\t\t\t\t(Tom Mitchel)'
print (text)

A computer program is said to learn from experience E
with respect to some class of tasks T and performance measure P
if its performance at tasks in T, as measured by P,
improves with experience E.
					(Tom Mitchel)

In [104]:
len(text)

219

<font color = green >

### Split

</font>

<font color = green >

#### Split by char

</font>

In [105]:
tokens= text.split(' ')
print (tokens)
len(tokens), len (text.split()) # this is not the same - see below

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', '\nwith', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P\nif', 'its', 'performance', 'at', 'tasks', 'in', 'T,', 'as', 'measured', 'by', 'P,', '\nimproves', 'with', 'experience', 'E.', '\n\t\t\t\t\t(Tom', 'Mitchel)']

(38, 39)

<font color = green >

#### Split by multi delimeters

</font>

In [4]:
import re

In [5]:
tokens= re.split(';| |,|\(|\|\\n|\\t|\)',text)
print (tokens)
len(tokens)

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', '\nwith', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P', '\nif', 'its', 'performance', 'at', 'tasks', 'in', 'T', '', 'as', 'measured', 'by', 'P', '', '\nimproves', 'with', 'experience', 'E.', '\n', '', '', '', '', '', 'Tom', 'Mitchel', '']

48

<font color = green >

#### Split by newline char

</font>

In [102]:
print (text.splitlines())
len(text.splitlines())

['A computer program is said to learn from experience E ', 'with respect to some class of tasks T and performance measure P ', 'if its performance at tasks in T, as measured by P, ', 'improves with experience E. ', '\t\t\t\t\t(Tom Mitchel)']

5

<font color = green >

#### Split by any whitespace

</font>

In [7]:
print (text.split())
# if delimeter is not specified, any whitespace (space, newline etc.) is considered

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', 'with', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P', 'if', 'its', 'performance', 'at', 'tasks', 'in', 'T,', 'as', 'measured', 'by', 'P,', 'improves', 'with', 'experience', 'E.', '(Tom', 'Mitchel)']

<font color = green >

### Join

</font>

In [8]:
'__'.join(tokens)

'A__computer__program__is__said__to__learn__from__experience__E__\nwith__respect__to__some__class__of__tasks__T__and__performance__measure__P__\nif__its__performance__at__tasks__in__T____as__measured__by__P____\nimproves__with__experience__E.__\n____________Tom__Mitchel__'

<font color = green >

#### Sample: Using join to exclude the file name

</font>

In [107]:
url = 'http://localhost:8888/notebooks/science/studies/otsebriy/data_science_camp/lesson_text_mining.ipynb'
print (url)
'/'.join (url.split('/')[:-1])

http://localhost:8888/notebooks/science/studies/otsebriy/data_science_camp/lesson_text_mining.ipynb

'http://localhost:8888/notebooks/science/studies/otsebriy/data_science_camp'

<font color = green >

### Strip whitespace char 

</font>

In [10]:
tokens = text.split(' ')+ ['hello\n\n']
print (tokens)
print ('-'*100, '\n',[token.strip() for token in tokens])
tokens_re= tokens

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', '\nwith', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P', '\nif', 'its', 'performance', 'at', 'tasks', 'in', 'T,', 'as', 'measured', 'by', 'P,', '\nimproves', 'with', 'experience', 'E.', '\n\t\t\t\t\t(Tom', 'Mitchel)', 'hello\n\n']
----------------------------------------------------------------------------------------------------
 ['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', 'with', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P', 'if', 'its', 'performance', 'at', 'tasks', 'in', 'T,', 'as', 'measured', 'by', 'P,', 'improves', 'with', 'experience', 'E.', '(Tom', 'Mitchel)', 'hello']

<font color = green >

### Filter tokens

</font>

<font color = green >

#### Unique

</font>

In [11]:
tokens_set = set (tokens)
print (tokens_set)
len(tokens_set)

{'at', '\nimproves', 'as', 'performance', 'by', '\n\t\t\t\t\t(Tom', 'of', '\nif', 'learn', 'tasks', 'hello\n\n', 'respect', 'measured', 'some', 'with', 'and', 'is', 'from', 'P', 'E', 'experience', 'T', '\nwith', 'in', 'measure', 'class', 'P,', 'A', 'E.', 'Mitchel)', 'program', 'its', 'T,', 'said', 'to', 'computer'}

36

<font color = green >

#### Filter by length

</font>

In [12]:
print ([token for token in tokens if len(token) >2])

['computer', 'program', 'said', 'learn', 'from', 'experience', '\nwith', 'respect', 'some', 'class', 'tasks', 'and', 'performance', 'measure', '\nif', 'its', 'performance', 'tasks', 'measured', '\nimproves', 'with', 'experience', '\n\t\t\t\t\t(Tom', 'Mitchel)', 'hello\n\n']

<font color = green >

#### Title 
istitle()

</font>

In [13]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if token.istitle()])

['A', 'E', 'T', 'P', 'T,', 'P,', 'E.', '\n\t\t\t\t\t(Tom', 'Mitchel)', 'Title']

<font color = green >

#### All Capital  
isupper()

</font>

In [108]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if token.isupper()])

['A', 'E', 'T', 'P', 'T,', 'P,', 'E.', 'ALLCAPITAL']

<font color = green >

#### All lower case 
islower()

</font>

In [15]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if token.islower()])

['computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', '\nwith', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'and', 'performance', 'measure', '\nif', 'its', 'performance', 'at', 'tasks', 'in', 'as', 'measured', 'by', '\nimproves', 'with', 'experience', 'hello\n\n']

<font color = green >

#### Alphabet only 
isalpha()

</font>

In [16]:
print ([token for token in tokens_re[:10] +['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学'] if token.isalpha()])

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', 'привіт', 'å', '学']

<font color = green >

#### Digits only
isdigit()
    
</font>

In [17]:
print ([token for token in tokens_re[:10] +['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学'] if token.isdigit()])

['7']

<font color = green >

#### Digits or alphabet

</font>

In [18]:
print ([token for token in tokens_re[:10] +['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学'] if token.isalnum()])

['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', '24x7', '7', 'x64', 'привіт', 'å', '学']

<font color = green >

#### Starts with 

</font>

In [19]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if token.startswith('i')])

['is', 'its', 'in']

<font color = green >

#### Ends with 

</font>

In [20]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if token.endswith('ce')])

['experience', 'performance', 'performance', 'experience']

<font color = green >

#### Contains

</font>

In [21]:
print ([token for token in tokens_re+['ALLCAPITAL', 'Title'] if 'as' in token])

['class', 'tasks', 'measure', 'tasks', 'as', 'measured']

<font color = green >

#### Contains only English letters

</font>

In [22]:
from string import ascii_lowercase
english_letters = [c for c in ascii_lowercase]
print (english_letters)
print ('\n',[token for token in tokens_re+['ALLCAPITAL', 'Title' ]+
             ['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学'] 
             if len([char for char in token if char.lower() not in english_letters])==0] )

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

 ['A', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'E', 'respect', 'to', 'some', 'class', 'of', 'tasks', 'T', 'and', 'performance', 'measure', 'P', 'its', 'performance', 'at', 'tasks', 'in', 'as', 'measured', 'by', 'with', 'experience', 'ALLCAPITAL', 'Title']

<font color = green >

#### To lower case

</font>

In [23]:
print ([token.lower() for token in tokens_re+['ALLCAPITAL', 'Title' ]+
             ['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学']])

['a', 'computer', 'program', 'is', 'said', 'to', 'learn', 'from', 'experience', 'e', '\nwith', 'respect', 'to', 'some', 'class', 'of', 'tasks', 't', 'and', 'performance', 'measure', 'p', '\nif', 'its', 'performance', 'at', 'tasks', 'in', 't,', 'as', 'measured', 'by', 'p,', '\nimproves', 'with', 'experience', 'e.', '\n\t\t\t\t\t(tom', 'mitchel)', 'hello\n\n', 'allcapital', 'title', '24x7', '7', 'x64', 'привіт', 'å', '©', '∆', '学']

<font color = green >

#### To upper case

</font>

In [24]:
print ([token.upper() for token in tokens_re+['ALLCAPITAL', 'Title' ]+
             ['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学']])

['A', 'COMPUTER', 'PROGRAM', 'IS', 'SAID', 'TO', 'LEARN', 'FROM', 'EXPERIENCE', 'E', '\nWITH', 'RESPECT', 'TO', 'SOME', 'CLASS', 'OF', 'TASKS', 'T', 'AND', 'PERFORMANCE', 'MEASURE', 'P', '\nIF', 'ITS', 'PERFORMANCE', 'AT', 'TASKS', 'IN', 'T,', 'AS', 'MEASURED', 'BY', 'P,', '\nIMPROVES', 'WITH', 'EXPERIENCE', 'E.', '\n\t\t\t\t\t(TOM', 'MITCHEL)', 'HELLO\n\n', 'ALLCAPITAL', 'TITLE', '24X7', '7', 'X64', 'ПРИВІТ', 'Å', '©', '∆', '学']

<font color = green >

#### Make title

</font>

In [25]:
print ([token.title() for token in tokens_re+['ALLCAPITAL', 'Title' ]+
             ['24x7', '7', 'x64', 'привіт', 'å','©', '∆', '学']])

['A', 'Computer', 'Program', 'Is', 'Said', 'To', 'Learn', 'From', 'Experience', 'E', '\nWith', 'Respect', 'To', 'Some', 'Class', 'Of', 'Tasks', 'T', 'And', 'Performance', 'Measure', 'P', '\nIf', 'Its', 'Performance', 'At', 'Tasks', 'In', 'T,', 'As', 'Measured', 'By', 'P,', '\nImproves', 'With', 'Experience', 'E.', '\n\t\t\t\t\t(Tom', 'Mitchel)', 'Hello\n\n', 'Allcapital', 'Title', '24X7', '7', 'X64', 'Привіт', 'Å', '©', '∆', '学']

<font color = green >

### Find

</font>

In [26]:
print (text)

print ("text.find('tom'):", text.find('tom')) # -1 (not found)
print ("text.find('T'):",text.find('T'))
print (text[91:110])

A computer program is said to learn from experience E
with respect to some class of tasks T and performance measure P
if its performance at tasks in T, as measured by P,
improves with experience E.
					(Tom Mitchel)
text.find('tom'): -1
text.find('T'): 91
T and performance m

In [109]:
if text.find('tom'): print ("PASSED") # warning: -1 is True

PASSED

In [113]:
if text.find('A'): 
    print ("PASSED") # warning: 0 is False
else: 
    print ("Not found )")

Not found )

<font color = green >

#### Find from end

</font>

In [28]:
print (text.rfind('t'))
print (text[214:])

214
tchel)

<font color = green >

### Replace

</font>

In [29]:
capital_burkina_faso = 'ouagadougou'
capital_burkina_faso.replace ('ou', '***')

'***agad***g***'

<font color = green >

## Regular expressions (Regex)

</font>

Used to identify all occurrences of specified pattern in string(sequence of characters) with purpose to find, replace or delete certain string.

In [31]:
import re

# import regex as re # this provided some extended functionality 
# e.g.\p{l} that is modern code to match category "letter".

Note: `r"smth"` - raw string literal are stored as they appear.
<br>
`\` is just a backslash when prefixed with a `r` whereas it is interpreted as an escape sequence w/o `r`.

<font color = green >

### re.search

</font>

Looks for the **first** location where regular expression pattern produces a match
and return a corresponding MatchObject instance. Return None if no position in the string matches the pattern

In [123]:
target = r'Machine learning is an field of AI that provides computer systems the ability to automatically learn and improve from experience without being explicitly programmed'
pattern = "learn\w*" # * is a shortcut for {0,} so you can say “zero or more” 
print (target)
re.search(pattern, target)

Machine learning is an field of AI that provides computer systems the ability to automatically learn and improve from experience without being explicitly programmed

In [124]:
target[8:16]

'learning'

In [125]:
# no occurrance for pattern 
pattern = "larn"
print (re.search(pattern, target))

None

<font color = green >

### re.findall

</font>

Returns all non-overlapping matches of pattern in string, as a list of strings.

In [126]:
target = r'Machine learning is an field of AI that provides computer systems the ability to automatically learn and improve from experience without being explicitly programmed'
pattern = "learn\w*" 
re.findall(pattern, target)

['learning', 'learn']

In [127]:
target = r'learninglearn' # check overlaping
pattern = "learn\w*"  
re.findall(pattern, target)

['learninglearn']

<font color = green >

### Compile pattern

</font>
is more efficient when the expression will be used several times in a single program

In [128]:
pat = re.compile(pattern)
pat.findall(target)
# the same as re.findall(pattern, target)

['learninglearn']

<font color = green >

###  Special char `\w`  (word char)

</font>

Matches any single letter, digit or underscore: `\w = A-Za-z0-9_`

In [129]:
target_list = ['test@google.com, test@crowdin.com', 'hello', 'test@@', 'test@']
pat= '@\w+'  # start with @ and must have at least one \w char 
print ([w for w in target_list if re.search(pat,w)])

['test@google.com, test@crowdin.com']

<font color = green >

### Special char `.`  (period/wild char)

</font>

`.` matches any single character **except newline character**.
<br>Note: if it is in square brackets it has its exact meaning as dot

In [130]:
target = r'Machine learning is an field of AI that provides computer systems the ability to automatically learn and improve from experience without being explicitly programmed'
pat = "a.i"
print (re.findall(pat, target)) # used as wild char 

print (re.search ('t.*m', 'test@google.com')) # used as wild char  
print (re.search ('t[.]*m', 'test@google.com')) # used as dot 
print (re.search ('t[@\w.]*m', 'test@google.com')) # used as dot

['abi', 'ati']
<re.Match object; span=(0, 15), match='test@google.com'>
None
<re.Match object; span=(0, 15), match='test@google.com'>

<font color = green >

### Special char `^`


</font>

start of string if patterns begins with, 
but if in the square brackets `[^]` it exludes the set of chars in brackets (see below).

In [38]:
tl = target.split()
print (tl, '\n')
print ([w for w in tl if re.search('^i', w)])

['Machine', 'learning', 'is', 'an', 'field', 'of', 'AI', 'that', 'provides', 'computer', 'systems', 'the', 'ability', 'to', 'automatically', 'learn', 'and', 'improve', 'from', 'experience', 'without', 'being', 'explicitly', 'programmed']

['is', 'improve']

<font color = green >

### Special char `$`

</font>

end of string

In [39]:
print (tl, '\n')
print ([w for w in tl if re.search('ly$', w)])

['Machine', 'learning', 'is', 'an', 'field', 'of', 'AI', 'that', 'provides', 'computer', 'systems', 'the', 'ability', 'to', 'automatically', 'learn', 'and', 'improve', 'from', 'experience', 'without', 'being', 'explicitly', 'programmed']

['automatically', 'explicitly']

<font color = green >

### Square brackets `[ ]`

</font>

Matches one of set of chars

In [40]:
print (tl, '\n')
pat = 'exp[el]' # starts with exp  and then e or l 
print ([w for w in tl if re.search(pat, w)])

['Machine', 'learning', 'is', 'an', 'field', 'of', 'AI', 'that', 'provides', 'computer', 'systems', 'the', 'ability', 'to', 'automatically', 'learn', 'and', 'improve', 'from', 'experience', 'without', 'being', 'explicitly', 'programmed']

['experience', 'explicitly']

<font color = green >

### Special char `-` 

</font>

Range if in square brackets `[]`

In [41]:
# direct meaning 
target = 'Ivano-Frankivsk'
re.search('-', target)

In [131]:
# range meaning 
target = 'Ivano-Frankivsk up'
re.findall('[p-u]', target) # look for any char of p, q, r, s, t, u including boundaries

['r', 's', 'u', 'p']

<font color = green >

### Special char `^` in square breckets


</font>

Exludes the set of chars in brackets

In [43]:
print (tl, '\n')
print ([w for w in tl if re.search('n[^e]$', w)]) # 'n' is on -2 index (due to $) followed by any char but 'e' as last char

['Machine', 'learning', 'is', 'an', 'field', 'of', 'AI', 'that', 'provides', 'computer', 'systems', 'the', 'ability', 'to', 'automatically', 'learn', 'and', 'improve', 'from', 'experience', 'without', 'being', 'explicitly', 'programmed']

['learning', 'and', 'being']

<font color = green >

### Special char `|` 

</font>

Matches `a|b` to `a` or `b`, where both are str

In [44]:
text_list = ["Monday: The doctor's appointment is at 2:45pm.",
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]
pat = 'Mon|Wed'
[s for s in text_list if re.search(pat, s)]

["Monday: The doctor's appointment is at 2:45pm.",
 'Wednesday: At 7:00pm, there is a basketball game!']

<font color = green >

### Scoping for operators  `( )` 
    
</font>

Can have special meaning in combination with other special characters e.g. `(?:...)` (see below)

In [45]:
text = 'Machine learning is fascinating'
pat = '.*l\w*g' # pulls out the whole matched string 
print (re.findall(pat, text))
pat = '.*(l\w*)g' # pulls out only specified scope of mathced string, note: required l and g 
print (re.findall(pat, text))

['Machine learning']
['learnin']

<font color = green >

### Escape char `\` 

</font>

In [46]:
text = 'Machine learning is fascinating.'
print (text)
pat = 'g.'  # . is considered as any char  
print (re.findall(pat, text))
pat = 'g\.' # . is considered as dot to look for 
print (re.findall(pat, text))

Machine learning is fascinating.
['g ', 'g.']
['g.']

<font color = green >

### Word boundary  \b

</font>

In [47]:
text = 'A computer program is said to learn from experience E \nwith respect to some class of tasks T'\
' and performance measure P \nif its performance at tasks in T, as measured by P, \nimproves with experience E. \n\t\t\t\t\t(Tom Mitchel)'
print (text)
pat = r'\w*t' # this finds all tokens that contain t and returns from beginning to t 
print (re.findall(pat, text))
pat = r'\w*t\b' # this finds all strings  that ends with t 
print (re.findall(pat, text))
pat = r'\bc\w*' # this finds all strings that starts with c 
print (re.findall(pat, text))

A computer program is said to learn from experience E
with respect to some class of tasks T and performance measure P
if its performance at tasks in T, as measured by P,
improves with experience E.
					(Tom Mitchel)
['comput', 't', 'wit', 'respect', 't', 't', 'it', 'at', 't', 'wit', 'Mit']
['respect', 'at']
['computer', 'class']

In [48]:
# More about boundaries 
text = "catmania thiscat thiscatmania";
print (text, '\nlooking for "cat"')

# '\b' finds/matches the pattern at the beginning or end of each word.
# '\B' does not find/match the pattern at the beginning or end of each word.


print ('\nCase 1: At the beginning of each word')
print (re.sub(r'\bcat', "***", text))


print ('\nCase 2: At the end of each word')
print (re.sub(r'cat\b', "***", text))

print ('\nCase 3: Not in the beginning')
print (re.sub(r'\Bcat', "***", text))

      
print ('\nCase 4: Not in the end')
print (re.sub(r'cat\B', "***", text))

print ('\nCase 5: Neither beginning nor end')
print (re.sub(r'\Bcat\B', "***", text))

print ('\nCase 6: At the beginning or at the end of each word')
print (re.sub(r'\bcat|cat\b', "***", text))

catmania thiscat thiscatmania
looking for "cat"

Case 1: At the beginning of each word
***mania thiscat thiscatmania

Case 2: At the end of each word
catmania this*** thiscatmania

Case 3: Not in the beginning
catmania this*** this***mania

Case 4: Not in the end
***mania thiscat this***mania

Case 5: Neither beginning nor end
catmania thiscat this***mania

Case 6: At the beginning or at the end of each word
***mania this*** thiscatmania

<font color = green >

### Digit  \d

</font>

equivalent to `[0-9]`

In [49]:
text = 'BMW 525, Hyundai i35, Mercedes S-class'
re.findall('\d', text)

['5', '2', '5', '3', '5']

<font color = green >

### Non-digit  \D
</font>

equivalent to `[^0-9]`

In [50]:
text = 'BMW 525, Hyundai i35, Mercedes S-class'
print (re.findall('\D', text))

['B', 'M', 'W', ' ', ',', ' ', 'H', 'y', 'u', 'n', 'd', 'a', 'i', ' ', 'i', ',', ' ', 'M', 'e', 'r', 'c', 'e', 'd', 'e', 's', ' ', 'S', '-', 'c', 'l', 'a', 's', 's']

<font color = green >

### Whitespace \s

</font>

equivalent to `[ \t\n\r\f\v]`

In [51]:
text = 'BMW 525, \nHyundai i35,\tMercedes S-class'
print (text)
print (re.findall('\s', text))

BMW 525,
Hyundai i35,	Mercedes S-class
[' ', ' ', '\n', ' ', '\t', ' ']

<font color = green >

### Non-whitespace \S

</font>
equivalent to [ \t\n\r\f\v]

In [52]:
text_list = ['BMW 525',
             '\nHyundai i35',
             '\tMercedes S-class'
            ]

print (text)
print (re.findall('\S', text))

BMW 525,
Hyundai i35,	Mercedes S-class
['B', 'M', 'W', '5', '2', '5', ',', 'H', 'y', 'u', 'n', 'd', 'a', 'i', 'i', '3', '5', ',', 'M', 'e', 'r', 'c', 'e', 'd', 'e', 's', 'S', '-', 'c', 'l', 'a', 's', 's']

<font color = green >

### Repetitions

</font>

<font color = green >

#### Repetition zero or more occurrences 

</font>

meta char `*`

In [53]:
text_list = ['bmw 525', '\n hundai i35','\tmercedes S-class', 'maybach', 'porsche']
pat = 'h[\w]*'
print ([s for s in text_list if re.search(pat, s)])

['\n hundai i35', 'maybach', 'porsche']

<font color = green >

#### Repetion one or more occurrences 

</font>

meta char `+`

In [54]:
text_list = ['bmw 525', '\n hundai i35','\tmercedes S-class', 'maybach', 'porsche']
pat = 'h[\w]+'
print ([s for s in text_list if re.search(pat, s)])

['\n hundai i35', 'porsche']

<font color = green >

#### Repetition zero or one occurrence 

</font>

meta char `?`

In [55]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
pat = 'h[\w]?'
print ([s for s in text_list if re.search(pat, s)])

['hundai i35', 'maybach', 'porsche']

Pattern `h[\w]?` does return matched object for `hundai i35` 
<br>Thus, need to add `$` at the end to avoid partial text match

In [56]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
pat = 'h[\w]?$'
print ([s for s in text_list if re.search(pat, s)])

['maybach', 'porsche']

<font color = green >

#### Repetition  exactly n times  (n>= 0)

</font>

`{n}`

In [57]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
print ([s for s in text_list if re.search('m[\w -]+$', s)]) # at least once
print ([s for s in text_list if re.search('m[\w -]{5}$', s)]) # exacltly 5 occurrences 
print ([s for s in text_list if re.search('m[\w -]{6}$', s)]) # exacltly 6 occurrences

['bmw 525', 'mercedes S-class', 'maybach']
['bmw 525']
['maybach']

<font color = green >

#### Repetition at least n times  (n>= 0)

</font>

`{n,}`

In [58]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
print ([s for s in text_list if re.search('m[\w -]{6,}$', s)]) # at least 6 occurrences

['mercedes S-class', 'maybach']

<font color = green >

#### Repetition from n to m times  (n, m>= 0)

</font>

`{n,m}`
<br>Note: m occurences is included

In [59]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
print ([s for s in text_list if re.search('m[\w -]{4,5}$', s)]) # from 4 to 5 occurrences

['bmw 525']

<font color = green >

#### Repetition at most m times  (m>= 0)  (including)

</font>

`{,m}`

In [60]:
text_list = ['bmw 525', 'hundai i35', 'mercedes S-class', 'maybach', 'porsche']
print ([s for s in text_list if re.search('m[\w -]{,6}$', s)]) # not more than 6 occurrences

['bmw 525', 'maybach']

<font color = green >

### re.match

</font>

If zero or more characters at the beginning of string match the regular expression pattern, return a corresponding MatchObject instance. Return None if the string does not match the pattern.

Note: `re.match()` checks for a match only at the beginning of the string, while `re.search()` checks for a match anywhere in the string.

In [61]:
target = r'Machine learning'
print (re.match('Machine', target)) # this does match some chars at the beginning 
print (re.match('learning', target)) # this does not match some chars at the beginning

<re.Match object; span=(0, 7), match='Machine'>
None

<font color = green >

### Replace using re 

</font>

`re.sub()`

In [62]:
text = "Example String"
pat = '[ES]'
re.sub(pat, '***', text)

'***xample ***tring'

<font color = green >

### Sample: Using regex for dates  

</font>

In [63]:
dates_str= '23-10-2002\n23/10/2002\n23/10/02\n1/23/2002\n23 Oct 2002\n23 October 2002\n23 May 2002\nOct 23, 2002' \
               '\nOctober 23, 2002\n15-09-78\n15-09-some_year\nsome_year-15-09\n15.09.78'
print (dates_str)

23-10-2002
23/10/2002
23/10/02
1/23/2002
23 Oct 2002
23 October 2002
23 May 2002
Oct 23, 2002
October 23, 2002
15-09-78
15-09-some_year
some_year-15-09
15.09.78

Let's start with simple pattern

In [64]:
pat = '\d{2}[-/]\d{2}[-/]\d{4}'
print (re.findall(pat,dates_str))

['23-10-2002', '23/10/2002']

Consider cases of 1-digit for day and and 2-digits for year

In [65]:
pat = '\d{1,2}[-/]\d{2}[-/]\d{2,4}'
print (re.findall(pat,dates_str))

['23-10-2002', '23/10/2002', '23/10/02', '1/23/2002', '15-09-78']

Observe cases of `.` separator

In [66]:
pat = '\d{1,2}[-/.]\d{2}[-/.]\d{2,4}'
print (re.findall(pat,dates_str))

['23-10-2002', '23/10/2002', '23/10/02', '1/23/2002', '15-09-78', '15.09.78']

Let's consider named months

In [67]:
pat = '\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}'
print (re.findall(pat,dates_str))

['Oct', 'May']

Note: ( ) has meaning of selecting the specified scope - i.e. it matches the whole pattern but returns the only scope in brackets 

Here you may use (<font color= red size=4 >?:</font>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) to get whole matched string.

In [68]:
pat = '\d{1,2}[-/ ](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}'
print (re.findall(pat,dates_str))

['23 Oct 2002', '23 May 2002']

Consider case of full name like October by allowsing any number of letters to be after shorten name of month

In [69]:
pat = '\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{2,4}'
print (re.findall(pat,dates_str))

['23 Oct 2002', '23 October 2002', '23 May 2002']

Consider case of month at the beginning - this means the first 2 digits may be optional but they go after month name

In [70]:
pat = '(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:\d{1,2} )? \d{2,4}'
print (re.findall(pat,dates_str))

['23 Oct 2002', '23 October 2002', '23 May 2002', 'Oct 23', 'October 23']

Consider separators for last two dates: `,`

In [71]:
pat = '(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?: \d{1,2}[ ,])? \d{2,4}'
print (re.findall(pat,dates_str))

['23 Oct 2002', '23 October 2002', '23 May 2002', 'Oct 23, 2002', 'October 23, 2002']

<font color = green >

## Using regex with pandas 

</font>

In [72]:
import pandas as pd
pd.set_option('max_colwidth', 200)

def init_df():
    time_sentences = ["Monday: The doctor's appointment is at 2:45pm.",
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am.",
                  "just custom sentence : Saturday"]
    return pd.DataFrame(time_sentences, columns=['text']) 
df =  init_df()
df

                                                     text
0          Monday: The doctor's appointment is at 2:45pm.
1      Tuesday: The dentist's appointment is at 11:30 am.
2       Wednesday: At 7:00pm, there is a basketball game!
3       Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at 09:00am.
5                         just custom sentence : Saturday

<font color = green >

### Using .str for pandas.Series

</font>

<font color = green >

### Number of characters in every row

</font>

`str.len()`

In [73]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
5    31
Name: text, dtype: int64

<font color = green >

### Tokenize by 

</font>

`str.split()`

In [74]:
df['text'].str.split()

0               [Monday:, The, doctor's, appointment, is, at, 2:45pm.]
1          [Tuesday:, The, dentist's, appointment, is, at, 11:30, am.]
2           [Wednesday:, At, 7:00pm,, there, is, a, basketball, game!]
3         [Thursday:, Be, back, home, by, 11:15, pm, at, the, latest.]
4    [Friday:, Take, the, train, at, 08:10, am,, arrive, at, 09:00am.]
5                                [just, custom, sentence, :, Saturday]
Name: text, dtype: object

<font color = green >

### Number of words in the row

</font>

`str.split().str.len()`

In [75]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
5     5
Name: text, dtype: int64

<font color = green >

### Count digits in the row

</font>

`str.count()`

In [76]:
df['text'].str.count('\d')

0    3
1    4
2    3
3    4
4    8
5    0
Name: text, dtype: int64

<font color = green >

### Search for specified string

</font>

`str.contain()`

In [77]:
print (df)
df['text'].str.contains('appointment')

                                                     text
0          Monday: The doctor's appointment is at 2:45pm.
1      Tuesday: The dentist's appointment is at 11:30 am.
2       Wednesday: At 7:00pm, there is a basketball game!
3       Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at 09:00am.
5                         just custom sentence : Saturday

0     True
1     True
2    False
3    False
4    False
5    False
Name: text, dtype: bool

<font color = green >

### Find all digits in the row

</font>

`str.findall()`

In [78]:
print (df['text'].str.findall('\d')) # returns the series of lists with digits

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
5                          []
Name: text, dtype: object

<font color = green >

### Capture groups

</font>

In [79]:
pat = '(\d?\d):(\d\d)'
df['text'].str.findall(pat)# returns every pair like (08, 10), (09, 00)

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
5                      []
Name: text, dtype: object

In [80]:
# Comparing to no-group capturing:
pat = '(?:\d?\d):(?:\d\d)'
df['text'].str.findall(pat) # .iloc[-2]

0            [2:45]
1           [11:30]
2            [7:00]
3           [11:15]
4    [08:10, 09:00]
5                []
Name: text, dtype: object

<font color = green >

### Replace

</font>

`str.replase()`

In [81]:
df = init_df()
df = df.append(pd.Series ({'text':'days and night '}), ignore_index=True)
df

/var/folders/pg/_vz5kwcn2bxbjntlwb3gq_ph0000gp/T/ipykernel_21504/2793615857.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series ({'text':'days and night '}), ignore_index=True)

                                                     text
0          Monday: The doctor's appointment is at 2:45pm.
1      Tuesday: The dentist's appointment is at 11:30 am.
2       Wednesday: At 7:00pm, there is a basketball game!
3       Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at 09:00am.
5                         just custom sentence : Saturday
6                                         days and night

In [82]:
print (df)
df['text'].str.replace(r'\w*day\b', 'xxxxx') 
# Note: pattern is used with r (raw string literal) prefix to avoid reserved string special characters
# here \b is reserved the backspace character so you need to use either  r'\w+day\b' or '\w+day\\b'

                                                     text
0          Monday: The doctor's appointment is at 2:45pm.
1      Tuesday: The dentist's appointment is at 11:30 am.
2       Wednesday: At 7:00pm, there is a basketball game!
3       Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at 09:00am.
5                         just custom sentence : Saturday
6                                         days and night

/var/folders/pg/_vz5kwcn2bxbjntlwb3gq_ph0000gp/T/ipykernel_21504/2760120724.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w*day\b', 'xxxxx')

0            xxxxx: The doctor's appointment is at 2:45pm.
1         xxxxx: The dentist's appointment is at 11:30 am.
2            xxxxx: At 7:00pm, there is a basketball game!
3           xxxxx: Be back home by 11:15 pm at the latest.
4    xxxxx: Take the train at 08:10 am, arrive at 09:00am.
5                             just custom sentence : xxxxx
6                                          days and night
Name: text, dtype: object

In [83]:
# comparing to case w/o /b
df ['text'].str.replace(r'\w*day', 'xxxxx')

/var/folders/pg/_vz5kwcn2bxbjntlwb3gq_ph0000gp/T/ipykernel_21504/417362584.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df ['text'].str.replace(r'\w*day', 'xxxxx')

0            xxxxx: The doctor's appointment is at 2:45pm.
1         xxxxx: The dentist's appointment is at 11:30 am.
2            xxxxx: At 7:00pm, there is a basketball game!
3           xxxxx: Be back home by 11:15 pm at the latest.
4    xxxxx: Take the train at 08:10 am, arrive at 09:00am.
5                             just custom sentence : xxxxx
6                                        xxxxxs and night
Name: text, dtype: object

<font color = green >

#### Replace with dynamic value 

</font>

In [84]:
# def investigate_x(x):
#     ''' investigate the matched object '''
#     print (x.groups())
#     return x.groups()[0][:3]
# print (df['text'].str.replace(r'(\w+day\b)', investigate_x))


print (df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3]))  
# Note: the pattern returns group not just r'\w+day\b'
# This sample generates just one group per mathed string - thus it pulls out the groups()[0]

0            Mon: The doctor's appointment is at 2:45pm.
1         Tue: The dentist's appointment is at 11:30 am.
2            Wed: At 7:00pm, there is a basketball game!
3           Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:00am.
5                             just custom sentence : Sat
6                                        days and night
Name: text, dtype: object

/var/folders/pg/_vz5kwcn2bxbjntlwb3gq_ph0000gp/T/ipykernel_21504/3160514285.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  print (df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3]))

In [85]:
# Sample of two groups: replace HH:MM time with amount of minutes 
df['text'].str.replace(r'(\d?\d):(\d\d)', lambda x: '{} mins '.format(int(x.groups()[0])*60+ int(x.groups()[1]))) 
# at 2:45pm. -> at 4pm. # 2 - is the first group, 45 is second group

/var/folders/pg/_vz5kwcn2bxbjntlwb3gq_ph0000gp/T/ipykernel_21504/967161851.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\d?\d):(\d\d)', lambda x: '{} mins '.format(int(x.groups()[0])*60+ int(x.groups()[1])))

0               Monday: The doctor's appointment is at 165 mins pm.
1            Tuesday: The dentist's appointment is at 690 mins  am.
2            Wednesday: At 420 mins pm, there is a basketball game!
3             Thursday: Be back home by 675 mins  pm at the latest.
4    Friday: Take the train at 490 mins  am, arrive at 540 mins am.
5                                   just custom sentence : Saturday
6                                                   days and night
Name: text, dtype: object

<font color = green >

### Create columms with extracted groups

</font>

`str.extract()`

<br>
Note: It create new columns and uses **first match of extracted groups** only

In [86]:
df['text'].str.extract(r'(\d?\d):(\d\d)')
# comparing with findall : findall returns list of all mathces in one column  
# but extract returns several columns (one per group)
# Note: Only the 08:00 (not 09:00) is extracted from Fri: Take the train at 08:10 am, arrive at 09:00am.
# Use str.extractall() to extract all mathced strings - see below

     0    1
0    2   45
1   11   30
2    7   00
3   11   15
4   08   10
5  NaN  NaN
6  NaN  NaN

<font color = green >

### Extract all groups matches  

</font>

`str.extractall()`

In [87]:
df['text'].str.extractall(r'(\d?\d):(\d\d) ?([ap]m)')
# Three groups. Some of the cases hase space between digits and am/pm
# Note the index is number of original row and number of matched object

          0   1   2
  match
0 0       2  45  pm
1 0      11  30  am
2 0       7  00  pm
3 0      11  15  pm
4 0      08  10  am
  1      09  00  am

<font color = green >

### Named groups

</font>

(?P< name >)

In [88]:
# df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')
df['text'].str.extractall(r'(?P<time>(?P<hour>\d{1,2}):(?P<minute>\d{1,2}) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [89]:
# w/o the whole matched string column 
df['text'].str.extractall(r'(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m)').reset_index(drop=True)

  hour minute period
0    2     45     pm
1   11     30     am
2    7     00     pm
3   11     15     pm
4   08     10     am
5   09     00     am

<font color = green >

### Positive lookahead 

</font>

`(?=...)`

In [90]:
text = 'Isaac Asimov Isaac.Asimov Isaac_Asimov'
print (re.findall(r'Isaac', text))
pat = r'Isaac_(?=Asimov)'
re.findall(pat, text)

['Isaac', 'Isaac', 'Isaac']

['Isaac_']

<font color = green >

### Negative lookahead 

</font>

(?!...)

In [91]:
text = 'Isaac Asimov Isaac.Asimov Isaac_Asimov'
pat = r'Isaac(?![ .])' # any following string but neither space nor dot  
re.findall(pat, text)

['Isaac']

In [92]:
# Regular Expression Analyzer
# http://xenon.stanford.edu/~xusch/regexp/
# https://regex101.com/

<font color = green >

## Home Task 

</font>

The Task is to extract relevant infromation from the messy medical data using regex.

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

1) Extract the date strings
Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

2) Normalize the extracted dates considering the following rules:  
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

3) Sort records in ascending chronological order accoring.

In [93]:
import os
cwd= os.getcwd() # current working directory
# path = os.path.join(cwd,'data')
fn=  os.path.join('dates.txt')

with open(fn, 'r') as f:
    content = f.read()
print (content[:500])
# Note: This snippet is extracted just for high level review. You may read the file with the help of pandas or whatever convenient tool

03/25/93 Total time of visit (in minutes):
6/18/85 Primary Care Doctor:
sshe plans to move as of 7/8/71 In-Home Services: None
7 on 9/27/75 Audit C Score Current:
2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7
.Per 7/06/79 Movement D/O note:
4, 5/18/78 Patient's thoughts about current substance abuse:
10/24/89 CPT Code: 90801 - Psychiatric Diagnosis Interview
3/7/86 SOS-10 Total Score:
(4/10/71)Score-1Audit C Score Current:
(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC_12.6Activ

<font color = blue >

### Expected Output

</font>

<table align= 'left'>
    <tr><td></td><td> res</td><td>index</td></tr>
    <tr><td>0</td><td> 1971-04-10</td><td>9</td></tr>    
    <tr><td>1</td><td>1971-05-18</td><td>84</td></tr>    
    <tr><td>2</td><td>1971-07-08</td><td>2</td></tr>    
    <tr><td>3</td><td>1971-07-11</td><td>53</td></tr>    
    <tr><td>4</td><td>1971-09-12</td><td>28</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>495 </td><td>2016-05-01</td><td>    427</td></tr>    
    <tr><td>496</td><td> 2016-05-30  </td><td>  141</td></tr>    
    <tr><td>497</td><td> 2016-10-13  </td><td>  186</td></tr>    
    <tr><td>498</td><td> 2016-10-19   </td><td> 161</td></tr>    
    <tr><td>499 </td><td>2016-11-01 </td><td>   413</td></tr>    
</table>

<font color = green >

## Learn more
</font>

Regular expression operations
<br>
https://docs.python.org/3/library/re.html

Python Regular Expression Tutorial
<br>
https://www.datacamp.com/community/tutorials/python-regular-expression-tutorial

pandas documentation - API Reference - Series 
<br>
https://pandas.pydata.org/pandas-docs/stable/reference/series.html


Regular Expression Analyzer
<br>
http://xenon.stanford.edu/~xusch/regexp/