<font color='green'>
    
# Data Science Camp 2021 test task 4
</font>

`data_housing.csv`contains records for 20,630 houses (it can be any accomodation e.g. appartments) in some city in some coutry. Attributes:  

    - rent: amount of montly payment in USD
    - dist: distance to center 
    - nrooms: number of rooms 
    - age: age of house 
    - size: are in sq.m
    - noccup: number of people registered in the house
    - price: price of the house in USD
 

Task:    
    1) The data is not completely clean. Look for anomaly values (e.g. outliers, non-number format, missed values) and try to handle them. Please describe your discovceries and selected approach.      <br>
    2) Try to fill the missed values of 'price'. Feel free to apply any approach e.g. statistical analysis or machine learning        <br>
    3) Provide csv file file with data keeping all indices as original dataset. 'price' column should be number format without missed values, but instead filled by values you could predict. You may also provide values of other columns you consider more accurate than in original dataset.    <br>
    4) Provide explanation of all your findings and achievements

In [1]:
import pandas  as pd 
import numpy as np
df_r= pd.read_csv('data_housing.csv', index_col=0)
df_r

        rent            dist  nrooms     age size noccup     price
0        624            17.0     2.0  age:41   52      3  226300.0
1        622            17.0     2.0      21   43      3       NaN
2        544             NaN     2.0      52   57      3  176050.0
3      '423'            17.0     2.0  age:52   51      3  170650.0
4        288  to center = 17     2.0      52   44      3  171100.0
...      ...             ...     ...     ...  ...    ...       ...
20635    117            20.0     2.0      25   52      3   39050.0
20636  '191'            20.0     2.0     mid   63      3   38550.0
20637    127             NaN     2.0      17   47      3   46150.0
20638    140            20.0     NaN      18   43      3   42350.0
20639    NaN            20.0     2.0      16   53      3   44700.0

[20630 rows x 7 columns]

In [3]:
df_r.dtypes

rent       object
dist       object
nrooms    float64
age        object
size       object
noccup     object
price     float64
dtype: object

In [4]:
df_r.isnull().sum()

rent      1250
dist      1000
nrooms    1000
age        500
size       250
noccup     125
price     1806
dtype: int64